:root {
  
  /* custom colors */
  --teal: #caebe1;
  --purple: #c1cbe3;
  --purple-light: #f4feff;
  --purple-dark: #909ab1;
  --green: #c6e3c1;
  --green-light: #f9fff4;
  --green-dark: #95b191;

  color: #000;
}

::-moz-focus-inner {border:0;}

h1 {
  font-family: 'Righteous', cursive;
}

h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.overflow-off {
  overflow: hidden;
}

#hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 80vh;

  background: repeating-linear-gradient(
    45deg,
    var(--purple),
    var(--purple) 60px,
    var(--purple-dark) 60px,
    var(--purple-dark) 120px);
}

nav {
  width: 100%;
  align-self: flex-start;
  padding: 10px 20px 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list a {
  margin-left: 3vw;
  
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}


/* Mobile Nav */
@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  #always-show {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-active {
    height: 100vh;
    
    background-color: var(--teal);
  }

  #nav-list {
    height: 0;
    align-self: flex-end;
    align-items: flex-end;
    overflow: hidden;
  }

  nav.nav-active #nav-list {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    margin-top: 5vh;
    
    transition: height .5s ease-in-out;
  }

  #nav-list a {
    text-decoration: none;
    color: black;
    
    font-family: monospace;
    font-size: 5rem;
    
    text-align: right;
    background-color: white;
    margin-bottom: 5vh;
  }

  #hamburger {
    margin-left: auto;
    
    cursor: pointer;
    width: auto;
    transition: all .7s ease;
    
    z-index: 10;
  }

  .bar {
    display: block;
    height: 5px;
    width: 50px;
    background: #fff;
    margin: 10px auto;
    transition: all .7s ease;
  }

  .center {
    margin: 0 auto;
  }

  #hamburger.active .top {
    transform: translateY(15px) rotateZ(45deg);
  }

  #hamburger.active .center {
    width: 0;
  }

  #hamburger.active .bottom {
    transform: translateY(-15px) rotateZ(-45deg);
  }
}

#hero-items {
  display: flex;
  margin-bottom: 10vh;
}

#bowl-container {

}

#bowl {
  margin-right: 40px; 

  min-height: 200px;
  height: 40vmin;
  max-height: 400px;
  transform: rotate(-10deg);
}

#hero-text {
}

#hero-text h1 {
  font-size: 3rem;
}

#hero-text h3 {
  margin-top: -35px;

  font-size: 1.7rem;
}

#hero #btn-container {
  margin-top: 20px;
}

#hero .btn {
  border: 2px solid var(--purple-light);
  padding: 10px 60px 10px 60px;
  
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: monospace;
  text-decoration: none;
  
  
  background: linear-gradient(to right, var(--green) 50%, rgba(0,0,0,0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  
  transition: background-position .5s ease-in-out;
}

#hero .btn:hover {
  cursor: pointer;
  
  background-position: left bottom;
}

#hero .btn:active {
  background: var(--green-dark);
  color: rgb(255, 255, 255, .8);
  text-decoration: none;
}

#hero a:link,
#hero a:visited,
#hero a:hover,
#hero a:active {
  color: #000;
}


