:root {
  
  overflow-x: hidden;

  
  /* custom colors */
  --teal: #28EDDC;
  --green: #B9E6A3;
  --pink: #F4829B;
  --purple: #59426B;
}


html {
  scroll-behavior: smooth;
}

/* body {
  font-family: 'Open Sans', sans-serif;
} */

nav {
  background-color: var(--teal);
}

nav * {
  padding-left: 20px;
  padding-right: 20px;
}

nav img {
  max-height: 50px;
}


#slides img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;

  -webkit-filter: contrast(40%); /* Safari 6.0 - 9.0 */
  filter: contrast(40%);
}

#slides #caption-1 {
  top: 5%;
  bottom: auto;
}

#slides #caption-2 {
  top: 15%;
  bottom: auto;
}

#slides a {
  margin-left: .4em;
  margin-right: .4em;
}

#slides #caption-3 {
  top: 5%;
  bottom: auto;
}


#hero {
  height: 80vh;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 30%), url('./images/kid-bg.jpg');
  background-color: #cccccc;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 0;
}

#about {
  height: 400px;
  background-color: var(--pink);
} 

#insta {
  height: auto;
  width: 100%;
}

.referral {
  display: none !important;
}

#contact {
  min-height: 400px;
  padding: 15px;
  
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  text-align: center;

  background-color: var(--purple);
  color: rgb(255, 226, 226);
}

#contact > div {
  min-height: 100px;
  min-width: 400px;
  margin: 15px;
}

#contact h1 {
  border-top: 1px solid #d5d5d5; 
  border-bottom: 1px solid #d5d5d5;
}

#links {
  display: flex;
  flex-direction: column;
}

#links {
  font-size: 4em;
  margin-top: 25px;
}


.fa-instagram {
  color: #3f729b;
}

.fa-facebook {
  color: #3b5998;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-whatsapp:hover {
  color: #d5d5d5;
}



footer {
  height: 30px;
  background-color: black;

  text-align: center;
  
  color: whitesmoke;
}

footer * {
  padding: 3px;
  margin-bottom: 0;
  text-decoration: none;
  color: whitesmoke;
}

footer *:hover {
  text-decoration: none;
  color: whitesmoke;
}