:root {
  /* custom colors */
  --teal: #7ebca4;
  /*RGB => 126, 188, 164 */

  --green: #b8db8a;
  /*RGB => 184, 219, 138 */

  --strawberry: #ffe2e2;
  /*RGB => 255, 226, 226 */

  --red: #eb6d71;
  /*RGB => 235, 109, 113 */

  --purple: #665283;
  /*RGB => 102, 82, 131 */
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Concert One', cursive;
}

.light {
  font-weight: 300;
}

nav {
  border-top: .5vh solid var(--red);
  background-color: var(--purple);
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
}

nav li {
  margin-left: 4vw;
  font-size: 20px;
}

.nav-item .dropdown-menu {
  background-color: var(--purple);
}

.nav-item .dropdown-menu {
  background-color: var(--purple);
}

.nav-item .dropdown-menu a {
  color: rgba(255,255,255,.5);
}

.nav-item .dropdown-menu a:hover {
  background-color: var(--purple);
  color: rgba(255,255,255,.75);
}

.nav-item .dropdown-menu .active {
  background-color: var(--purple);
  color: #fff;
}

@media (min-width: 768px) {
  nav li.active {
    padding-bottom: 19px;
    margin-bottom: -19px;
    
    border-bottom: 3px solid var(--red);
  }
}


#slides {
  height: 80vh;
}

#slides img {
  width: 100%;

  height: 80vh;
  object-fit: cover;

  -webkit-filter: contrast(30%); /* Safari 6.0 - 9.0 */
  filter: contrast(30%);

  -webkit-filter: contrast(30%);
  -moz-filter: contrast(30%);
  -o-filter: contrast(30%);
  -ms-filter: contrast(30%);
  filter: contrast(30%);
}

.carousel-caption {
  top: 5%;
  bottom: auto;
}

#slides h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 15px #000;
}

#slides h3 {
  font-size: 2rem;
  letter-spacing: 1px
}

#slides a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2rem;
}


@media (max-height: 450px) {
  #slides, #slides img {
    height: 400px;
  }
  
  .carousel-caption {
    top: 15%;
    bottom: auto;
  }

  #slides h1 {
    font-size: 3.5rem;
  }
  
  #slides h3 {
    font-size: 2rem;
  }
  
  #slides a {
    font-size: 1rem;
  }

  .btn {
    margin-top: .5rem;
    border-radius: .4rem;
  }
}

@media (min-width: 500px)
  and (min-height: 451px) {
  #slides, #slides img {
    min-height: 600px;
  }
  
  .carousel-caption {
    top: 5%;
    bottom: auto;
  }  

  #slides h1 {
    font-size: 5rem;
  }
  
  #slides h3 {
    font-size: 3rem;
  }
  
  #slides a {
    font-size: 2rem;
  }

  .btn {
    margin-top: .5rem;
    border-radius: .6rem;
  }
}

@media (min-width: 1000px)
  and (min-height: 451px) {
  .carousel-caption {
    top: 5%;
    bottom: auto;
  }  

  #slides h1 {
    font-size: 7rem;
  }
  
  #slides h3 {
    font-size: 4rem;
  }
  
  #slides a {
    font-size: 2rem;
  }

  .btn {
    margin-top: .5rem;
    border-radius: .6rem;
  }
}

@media (min-width: 1800px) {
  .carousel-caption {
    top: 20%;
    bottom: auto;
  }  

  #slides h1 {
    font-size: 6vw;
  }
  
  #slides h3 {
    font-size: 4vw;
  }
  
  #slides a {
    font-size: 2vw;
  }

  .btn {
    margin-top: .5rem;
    border-radius: .6rem;
  }
}

.btn {
  margin-top: 5px;
}

.btn-custom {
  background-color: var(--purple);
  border: 1px solid #584770;
  color: white;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #584770;
  border-color: #584770;
  box-shadow: none;

  color: white;
}

.btn-custom:active,
.btn-custom:active:focus {
  background-color: var(--purple);
  border-color: var(--purple);
  box-shadow: none;
}

/* Icons */
#icons {
  max-width: 100%;
  display: flex;

  border-top: 2px solid var(--green-dark);
  border-bottom: 2px solid var(--green-dark);
}

.icon-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px auto 20px auto;
}

.icon-container img {
  height: 20vw;
}

@media (min-width: 479px) {
  .icon-container img {
    height: 100px;
  }    
}

.icon-container h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.middle {
  border-left: 2px solid var(--green);
  border-right: 2px solid var(--green);
}


#photos {
  width: 100%
}

.block {
  width: 100%;
  min-height: 500px;
  height: 60vh;
  
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
}

.block-text {
  margin: auto;  
  padding: 1rem 1.5rem;
  width: 85%;
  max-width: 500px;
  
  color: rgb(255,255,255,.9);
  color: rgba(255,255,255,.9);
  border-radius: .3rem;
}

.block-text *:last-child {
  margin-bottom: 0;
}

.block-text h1 {
  font-size: 2rem;
}

#photos .block-text ul {
  padding: 0;
  margin: 0;

  list-style: none;
  list-style-position: outside;
}

#photos .block-text li::before {
  content: '✓ ';
  margin-left: -1rem;
}

#photos #family .block-text {
  background-color: rgb(102, 82, 131, .8);
  background-color: rgba(102, 82, 131, .8);
}

#photos #ice-cream .block-text {
  background-color: rgb(126, 188, 164, .8);
  background-color: rgba(126, 188, 164, .8);
}

@media (min-width: 600px) {
  #photos #ice-cream {
    justify-content: flex-end;
  }
  #photos #ice-cream .block-text {
    margin-right: 5vw;
    width: 60%;
  }
}

@media (min-width: 700px) {
  #photos #ice-cream .block-text {
    margin-right: 10vw;
  }
}

@media (min-width: 1400px) {
  #photos #family .block-text {
    position: relative;
    top: 10%;
    right: 50%;
    margin-right: 0;
  }
  
  #photos #ice-cream .block-text {
    min-width: 800px;
  }
}

@media (min-width: 1800px) {
  #photos .block-text {
    width: 40%;
    max-width: 40%;
    padding: 2vh 2vw;
    border-radius: .5vw;
  }

  #photos #ice-cream .block-text {
    margin-right: 20vw;
  }

  .block-text h1 {
    font-size: 2.5vw;
  }
  
  .block-text p,
  .block-text ul {
    font-size: 1vw;
  }
}

#photos #family {
  background-image: url('./images/family500.jpg');
  background-position-y: 45%;
}


@media (min-width: 2001px) {
  #photos #family {
    background-image: url(./images/family.jpg);
  }
}

#photos #ice-cream {
  background-image: url('./images/tommy_pixabay/gooseberry500.jpg');
  background-position-y: 30%;
}

@media (min-width: 501px) {
  #photos #family {
    background-image: url(./images/family2000.jpg);
  }

  #photos #ice-cream {
    background-image: url(./images/tommy_pixabay/gooseberry.jpg);
  }
}


#contact {
  padding: 1.5rem 0;
  background-color: var(--purple);
  color: var(--strawberry);

  display: flex;
  flex-direction: column;
}

#contact > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.contact-section {
  min-width: 300px;
  width: 70vw;
  max-width: 500px;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.contact-section h2 {
  /* border-top: 1px solid #B6ABC6; 
  border-bottom: 1px solid #B6ABC6; */
  margin-bottom: 10px;
  font-size: 2rem;
}

.contact-section h2::before {
  content: '';
  height: 1px;
  background: #B6ABC6; 
  display:block;
}

.contact-section h2::after {
  content: '';
  height: 1px;
  background: #B6ABC6; 
  display:block;
}

.contact-section h4 {
  font-size: 1.4rem;
}

#links {
  display: flex;
  font-size: 2.5rem;
  justify-content: space-around;
}

#links i {
  float: left;
  cursor: pointer;
}

.fa-instagram,
.fa-facebook,
.fa-whatsapp,
.fa-envelope {
  color: var(--strawberry);

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-whatsapp:hover {
  color: #25d366;
}

.fa-envelope:hover {
  color: #ffdb4d;
}

#map a {
  color: var(--strawberry);

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#map a:hover {
  color: var(--red);
  text-decoration: none;
}

#map .light{
  color: var(--strawberry);
}

#contact iframe {
  display: none;
}

@media (min-width: 900px) {
  #contact {
    padding: 2rem 0 1rem 0;
  }
  
  #contact > div {
    flex-direction: row;
    align-items: stretch;
  }

  .contact-section {
    width: 300px;
    max-width: 30vw;  
  }

  #contact h2 {
    margin-bottom: 25px;
  }
  
  .margin-bottom {
    margin-bottom: 0;
  }

  #links {
    font-size: 3rem;
  }

  #contact iframe {
    display: block;
    align-self: center;
    margin-top: .8rem;
  
    width: 50vw;
    height: 300px;
  }
}

@media (min-width: 1800px) {
  #contact {
    padding: 6vh 0 4vh 0;
  }

  .contact-section {
    width: 25vw;
  }

  .contact-section h2 {
    font-size: 3vw;
  }

  .contact-section h4 {
    font-size: 1.5vw;
  }

  #links {
    font-size: 3vw;
  }

  #contact iframe {
    height: 30vh;
    margin-top: 2vh;
  }
}


footer {
  padding: 5px;
  background-color: black;
  font-size: .8rem;
  text-align: center;
}

footer * {
  margin-bottom: 0;
  text-decoration: none;
  color: var(--strawberry);
}

footer a:hover {
  text-decoration: none;
  color: var(--strawberry);
}

@media (min-width: 1800px) {
  footer{
  font-size: 1vw;
  }  
}

/* Social Sidebar */
#social-bar {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: var(--teal);
  margin-right: 0;
  width: 50px;
  padding: 10px;

  display: flex;
  justify-content: center;
}

#sidebar-social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 100px;
}

#sidebar-social-links a i {
  font-size: 20px;

  -webkit-transition: font-size .2s ease-in-out;
  -moz-transition: font-size .2s ease-in-out;
  -o-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

#sidebar-social-links a:hover i {
  font-size: 25px;
  color: white
}

#social-bar {
  display: none;
}

@media (min-width: 771px) {
  #social-bar {
    display: flex;
  }
}

@media (min-width: 1800px) {
  #social-bar {
    width: 3vw;
    height: 18vh;
  }

  #sidebar-social-links a i {
    font-size: 1.5vw;
  }
  
  #sidebar-social-links a:hover i {
    font-size: 2vw;
  }
} 

/* Menu */
.image-blocks .block {
  height: 60vh;
  background-size: cover;
}


.image-blocks .block-text {
  width: auto;
  position: relative;
}

.image-blocks .block-text-green {
  background-color: rgb(126, 188, 164, .8);
  background-color: rgba(126, 188, 164, .8);
}

.image-blocks .block-text-purple {
  background-color: rgb(102, 82, 131, .8);
  background-color: rgba(102, 82, 131, .8);
}

.image-blocks .block-text h1 {
  text-decoration: underline;
  font-size: 2rem;
}

.image-blocks .block-text h4 {
  font-size: 1.4rem;
}

.image-blocks .block-text a {
  padding: 10px;
  font-size: 1rem;
}

@media (min-width: 1800px) {
  .image-blocks .block-text {
    width: auto;
    max-width: 30vw;
    padding: 2vw 2vh;
    border-radius: .5vw;
  }

  .image-blocks .block-text h1 {
    font-size: 2.5vw;
  }
  
  .image-blocks .block-text h4,
  .image-blocks .block-text a {
    font-size: 1vw;
  }
}

.image-blocks #yogurt {
  background-image: url('./images/tommy_pixabay/yogurt_cropped500.jpg');
  background-position-y: 60%;
}

.image-blocks #paletas {
  background-image: url('./images/tommy_pixabay/paletas_cropped500.jpg');
  background-position-y: 60%;
}

.image-blocks #superbowl {
  background-image: url('./images/tommy_pixabay/superbowl500.jpg');
  background-position-y: 80%;
}

.image-blocks #parfait {
  background-image: url('./images/tommy_pixabay/parfait500.jpg');
  background-position-y: 70%;
}

.image-blocks #malteadas {
  background-image: url('./images/tommy_pixabay/smoothie_cropped500.jpg');
  background-position-y: 59%;
}

.image-blocks #alfajor {
  background-image: url('./images/tommy_pixabay/alfajor_cropped500.jpg');
  background-position-y: 40%;
}

.image-blocks #brownie {
  background-image: url('./images/tommy_pixabay/brownie_cropped500.jpg');
  background-position-y: 50%;
}

.image-blocks #banana-split {
  background-image: url('./images/tommy_pixabay/bananas500.jpg');
  background-position-y: 55%;
}

.image-blocks #salpicon {
  background-image: url('./images/tommy_pixabay/salpicon500.jpg');
  background-position-y: 55%;
}

.image-blocks #affogato {
  background-image: url('./images/tommy_pixabay/affogato_cropped500.jpg');
  background-position-y: 85%;
}

.image-blocks #frappe {
  background-image: url('./images/tommy_pixabay/frappe2_cropped500.jpg');
  background-position-y: 55%;
}

.image-blocks #soda {
  background-image: url('./images/tommy_pixabay/soda_cropped500.jpg');
  background-position-y: 60%;
}

.image-blocks #aromaticas {
  background-image: url('./images/tommy_pixabay/aromatica_cropped500.jpg');
  background-position-y: 60%;
}

@media (min-width: 501px) {
  .image-blocks #yogurt {
    background-image: url('./images/tommy_pixabay/yogurt_cropped.jpg');
  }
  .image-blocks #paletas {
    background-image: url('./images/tommy_pixabay/paletas_cropped.jpg');
  }
  .image-blocks #superbowl {
    background-image: url('./images/tommy_pixabay/superbowl3000.jpg');
  }
  .image-blocks #parfait {
    background-image: url('./images/tommy_pixabay/parfait.jpg');
  }
  .image-blocks #malteadas {
    background-image: url('./images/tommy_pixabay/smoothie_cropped.jpg');
  }
  .image-blocks #alfajor {
    background-image: url('./images/tommy_pixabay/alfajor_cropped.jpg');
  }
  .image-blocks #brownie {
    background-image: url('./images/tommy_pixabay/brownie_cropped.jpg');
  }
  .image-blocks #banana-split {
    background-image: url('./images/tommy_pixabay/bananas.jpg');
  }
  .image-blocks #salpicon {
    background-image: url('./images/tommy_pixabay/salpicon.jpg');
  }
  .image-blocks #affogato {
    background-image: url('./images/tommy_pixabay/affogato_cropped.jpg');
  }
  .image-blocks #frappe {
    background-image: url('./images/tommy_pixabay/frappe2_cropped.jpg');
  }
  .image-blocks #soda {
    background-image: url('./images/tommy_pixabay/soda_cropped.jpg');
  }
  .image-blocks #aromaticas {
    background-image: url('./images/tommy_pixabay/aromatica_cropped.jpg');
  }
}

/* Productos */
.ver-mas .block {
  background-position: center;
}

#button-wrapper {
  width: 100%;
  text-align: center;
}

.ver-mas .block-text ul {
  margin-left: -1rem;

  -moz-column-count: 2;
  -moz-column-gap: 10%;
  -webkit-column-count: 2;
  -webkit-column-gap: 10%;
  column-count: 2;
  column-gap: 10%;
}

#yogurt-info #frutales {
  background-image: url("../static/images/tommy_pixabay/fruit.jpg");
  background-position: 20% !important;
}

#yogurt-info #cereales {
  background-image: url("../static/images/tommy_pixabay/cereales.jpg");
}

#yogurt-info #dulces {
  background-image: url("../static/images/tommy_pixabay/gummies.jpg");
}

#yogurt-info #salsas {
  background-image: url("../static/images/tommy_pixabay/jam.jpg");
}

#paletas-info #refrescantes{
  background-image: url("../static/images/tommy_pixabay/refrescante_cropped.jpg");
  background-position: left;
}

#paletas-info #sin-azucar {
  background-image: url("../static/images/tommy_pixabay/sin_azucar.jpg");
}


/* Eventos */
#eventos {
  height: 600px;
  background-image: url("./images/tommy_pixabay/party500.jpg");
  background-attachment: fixed;
  background-position: 40%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
}

#eventos .block-text {
  width: auto;
  max-width: 90%;

  background-color: rgb(102, 82, 131, .8);
  background-color: rgba(102, 82, 131, .8);
}

#eventos-links {
  font-size: 2em;
}

#eventos-links > * {
  margin-left: .5em;
  margin-right: .5em;
}

@media (min-width: 501px) {
  #eventos {
    background-image: url("./images/tommy_pixabay/party.jpg");
  }
}

/* Trabaja */
#trabaja {
  background-color: var(--green);
  height: 600px;
}