:root {
  
  /* custom colors */
  --teal: #7ebca4;
  --green: #b8db8a;
  --strawberry: #ffe2e2;
  --red: #eb6d71;
  --purple: #665283;
}

/* Older browsers */
html { font-size: 16px;}

/* Modern browsers only need this one */
@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

/* Safari <8 and IE <11 */
@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
@media screen and (min-width: 50em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Concert One', cursive;
}

.light {
  font-weight: 300;
}

nav {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--red);
  background-color: var(--purple);
  -webkit-box-shadow: inset 0px -8px 15px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: inset 0px -8px 15px -6px rgba(0,0,0,0.37);
  box-shadow: inset 0px -8px 15px -6px rgba(0,0,0,0.37);
}

nav li {
  padding-top: 5px;
}

nav li.active {
  border: none;
}

nav .dropdown-menu, 
nav .dropdown-item:hover {
  border: none;
}

nav .dropdown a {
margin-bottom: -8px;
}

nav .dropdown a.active {
  border: none;
}


@media (min-width: 993px) {
  nav {
  
    padding: 5px 20px 0 20px !important;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  
  }
  
  nav * {  
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  
  .navbar-nav {
    margin: 0;
  
    display: flex;
    flex-direction: row;
    align-items: baseline;
  
    font-size: .6em;
  }
  
  nav li.active {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--red);
    
    padding-bottom: 15px;
    margin-bottom: -15px;
  }
  
}

.navbar-brand {
  margin: 0;
  height: 60px;
}

nav img {
  height: 100%;
  width: auto;
}

.dropdown {
}

.dropdown-menu, 
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--purple);
}

.dropdown-item {
  color: rgba(255,255,255,.5);
}

.dropdown-item:hover,
.show>.nav-link {
  color: rgba(255,255,255,.75);
}

#slides {
  height: 80vh;
}

#slides img {
  width: 100%;

  height: 80vh;
  object-fit: cover;

  -webkit-filter: contrast(30%); /* Safari 6.0 - 9.0 */
  filter: contrast(30%);

  -webkit-filter: blur(2px) contrast(30%);
  -moz-filter: blur(2px) contrast(30%);
  -o-filter: blur(2px) contrast(30%);
  -ms-filter: blur(2px) contrast(30%);
  filter: blur(2px) contrast(30%);
}

.carousel-caption {
  top: 5%;
  bottom: auto;
}

#slides h1 {
  font-size: 3em;
  text-shadow: 1px 1px 15px #000;
}

#slides h3 {
  font-size: 1.8em;
  letter-spacing: 3px
}

#slides a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: .8em;
}

@media (max-width: 758px) {
  #slides h1 {
    /* font-family: 'Varela Round', sans-serif; */
    font-size: 10vw;
    text-shadow: 1px 1px 15px #000;
  }
  
  #slides h3 {
    font-size: 4vw;
  }

  #slides a {
    margin-left: .3em;
    margin-right: .3em;
    font-size: 3vw;
  }

}

@media (max-width: 600px) {
  #slides h1 {
    font-size: 10vh;
    text-shadow: 1px 1px 15px #000;
  }
  
  #slides h3 {
    font-size: 4.5vh;
  }

  #slides a {
    margin-left: .3em;
    margin-right: .3em;
    font-size: 3vh;
  }

}

.btn {
  margin-top: 5px;
}

.btn-custom {
  background-color: var(--purple);
  border: 1px solid #584770;
  color: white;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #584770;
  border-color: #584770;
  box-shadow: none;

  color: white;
}

.btn-custom:active,
.btn-custom:active:focus {
  background-color: var(--purple);
  border-color: var(--purple);
  box-shadow: none;
}

/* Icons */
#icons {
  max-width: 100%;
  display: flex;

  border-top: 2px solid var(--green-dark);
  border-bottom: 2px solid var(--green-dark);
}

.icon-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px auto 20px auto;
}

.icon-container img {
  height: 100px;
}

.icon-container h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.middle {
  border-left: 2px solid var(--green);
  border-right: 2px solid var(--green);
}

@media (max-width: 478px) {
  .icon-container img {
    height: 20vw;
  }
}


#photos {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
}

.wrapper img {
  min-width: 50%;
  max-width: 50%;
  object-fit: cover;
}

.wrapper-1 {
  background-color: var(--purple);
  display: none;
}

.wrapper-2 {
  background-color: var(--green);
  display: none;

}

#pops {
  order: 2;
}

.photo-text {
  margin: 15px;
}

#photos .block {
  min-height: 500px;

}

#photos .block-text h1{
  text-decoration: none;
  font-size: 1.8em;
}

#photos .block-text p {
  font-size: .8em;
  line-height: 1.4;
}

@media (max-width: 700px) {
  #photos .block-text h1{
    text-decoration: none;
    font-size: 2em;
  }
  
  #photos .block-text p {
    font-size: 1em;
    line-height: 1.8;
  }  
}

#photos #family {
  background-image: url('./images/family_scaled.jpg');
  background-size: cover;
  background-position-y: 45%;
}

#photos #family .block-text {
  position: relative;
  top: 10%;
  left: 5%;
  width: 70%;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#photos #ice-cream {
  background-image: url('./images/tommy_pixabay/gooseberry_table_yogurt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
}

#photos #ice-cream .block-text {
  position: relative;
  top: 10%;
  left: 25%;
  width: 70%;

  text-align: right;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#photos #ice-cream .block-text p {
  font-size: .8em;
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .wrapper img {
    width: 40vw;
  }

  .photo-text {
    width: 80vw;
  }

  .wrapper-1 br {
    display: none;
  }

  #pops {
    order: 0;
  }
}

#contact {
  padding-top: 4vh;
  padding-bottom: 1vh;
  
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  text-align: center;

  background-color: var(--purple);
  color: var(--strawberry);
}

#contact > div {
  min-width: 300px;
  margin: 2vh;
}

#contact h2 {
  border-top: 1px solid #B6ABC6; 
  border-bottom: 1px solid #B6ABC6;
  margin-bottom: 25px;
  font-size: 2em;
}


#links {
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  justify-content: space-around;
}

.fa-instagram,
.fa-facebook,
.fa-whatsapp {
  color: var(--strawberry);

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-whatsapp:hover {
  color: #25d366;
}


#map a {
  color: var(--strawberry);

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#map a:hover {
  color: var(--red);
  text-decoration: none;
}

#map .light{
  color: var(--strawberry);
}


footer {
  background-color: black;
  font-size: .6em;
  text-align: center;
}

footer * {
  padding: 3px;
  margin-bottom: 0;
  text-decoration: none;
  color: var(--strawberry);
}

footer a:hover {
  text-decoration: none;
  color: var(--strawberry);
}

/* Social Sidebar */
#social-bar {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: var(--teal);
  margin-right: 0;
  width: 50px;
  padding: 10px;

  display: flex;
  justify-content: center;
}

#sidebar-social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 100px;
}

#sidebar-social-links a i {
  font-size: 20px;

  -webkit-transition: font-size .2s ease-in-out;
  -moz-transition: font-size .2s ease-in-out;
  -o-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

#sidebar-social-links a:hover i {
  font-size: 25px;
  color: white
}

@media (max-width: 770px) {
  #social-bar {
    display: none;
  }
}

/* Menu */

#menu {
  background-color: var(--teal);

  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 3vh;

  color: var(--purple);
}

#svg-container {
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  #svg-container {
    margin-top: 10vh;
  }

  #logo-svg {
    width: 60%
  }
}

path {
  fill: none;
  stroke: black;
  stroke-width: 4;
}

#m {
  stroke-dasharray: 695.04px;
  stroke-dashoffset: 695.04px;
  animation: line-anim 2s ease forwards .3s;
}

#e {
  stroke-dasharray: 383.96px;
  stroke-dashoffset: 383.96px;
  animation: line-anim 2s ease forwards .6s;
}

#n {
  stroke-dasharray: 380.26px;
  stroke-dashoffset: 380.26px;
  animation: line-anim 2s ease forwards .9s;
}

#u {
  stroke-dasharray: 471.1px;
  stroke-dashoffset: 471.1px;
  animation: line-anim 2s ease forwards 1.2s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}


#menu #menu-grid {
  max-width: 1100px;
  margin: auto;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

#menu a:link, 
#menu a:visited, 
#menu a:active{
  color: var(--purple);
  text-decoration: none;

}

#menu a {
  min-width: 200px;
  max-width: 300px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;

  -webkit-transition: transform .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;

}

#menu img {
  max-width: 200px;
  max-height: 175px;
}

#menu h1 {
  margin-top: 8px;
  
  font-size: 1.6em;
  
  border-top: 1px solid var(--purple);
  border-bottom: 1px solid var(--purple);
  margin-top: 20px;
  
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#menu a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#menu a:hover h1 {
  color: #8966C9;
}

.superbowl{
  -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
  filter: brightness(120%);
}


/* Blocks */
.block {
  width: 100%;
  height: 400px;
}

.block-text h1 {
  text-decoration: underline;
  font-size: 1.5em;
}

.block-text h4 {
  font-size: 1em;
}

.block-text a {
  padding: 10px;
  font-size: .8em;
}

#image-blocks #yogurt {
  background-image: url('./images/tommy_pixabay/yogurt2_bg.jpg');
  background-size: cover;
  background-position-y: 60%;
}

#image-blocks #yogurt .block-text {
  position: relative;
  top: 30%;
  left: 5%;
}

#image-blocks #soda {
  background-image: url('./images/tommy_pixabay/soda_bg.jpg');
  background-size: cover;
  background-position-y: 60%;
}

#image-blocks #soda .block-text {
  position: relative;
  top: 10%;
  left: 60%;
  width: 35%;
}

#image-blocks #paletas {
  background-image: url('./images/tommy_pixabay/paletas_bg.jpg');
  background-size: cover;
  background-position-y: 60%;
}

#image-blocks #paletas .block-text {
  position: relative;
  top: 15%;
  left: 5%;
  width: 70%;
  color: rgb(255, 255, 255, .7);
  text-shadow: 1px 1px 2px black;
}



/* Product Pages */
.product { 
  padding: 5vw;
  padding-bottom: 3vw;

  background-color: var(--green);
}

.product h1 {
  color: var(--purple);
}